.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.887695;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._13{width:1.680000px;}
._0{width:5.616000px;}
._12{width:9.936000px;}
._a{width:68.640000px;}
._1{width:70.800000px;}
._3{width:148.608000px;}
._d{width:170.496000px;}
._c{width:214.176000px;}
._4{width:223.008000px;}
._f{width:253.680000px;}
._b{width:286.368000px;}
._e{width:290.784000px;}
._11{width:319.248000px;}
._7{width:325.776000px;}
._5{width:343.296000px;}
._6{width:345.504000px;}
._2{width:363.024000px;}
._8{width:369.552000px;}
._10{width:389.232000px;}
._9{width:402.384000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:40.000000px;}
.fs2{font-size:44.000000px;}
.fs3{font-size:48.000000px;}
.fs0{font-size:52.000000px;}
.y20{bottom:48.601008px;}
.y0{bottom:60.500000px;}
.y1f{bottom:62.371028px;}
.y1e{bottom:131.221004px;}
.y1d{bottom:144.991023px;}
.y1c{bottom:186.301021px;}
.y1b{bottom:213.841038px;}
.y1a{bottom:227.611038px;}
.y19{bottom:241.381038px;}
.y18{bottom:268.921016px;}
.y17{bottom:282.691035px;}
.y16{bottom:296.461024px;}
.y15{bottom:324.001033px;}
.y14{bottom:337.771022px;}
.y13{bottom:351.541011px;}
.y12{bottom:379.081019px;}
.y11{bottom:392.851039px;}
.y10{bottom:413.506038px;}
.yf{bottom:427.276027px;}
.ye{bottom:441.046031px;}
.yd{bottom:468.586024px;}
.yc{bottom:482.356029px;}
.yb{bottom:496.126018px;}
.ya{bottom:509.896022px;}
.y9{bottom:537.436030px;}
.y8{bottom:551.206019px;}
.y7{bottom:564.976024px;}
.y6{bottom:578.746028px;}
.y5{bottom:592.516025px;}
.y4{bottom:620.056026px;}
.y3{bottom:633.826026px;}
.y2{bottom:674.926024px;}
.y1{bottom:687.969025px;}
.h3{height:32.054688px;}
.h5{height:34.945312px;}
.h4{height:34.968750px;}
.h2{height:37.857422px;}
.h1{height:763.500000px;}
.h0{height:841.900024px;}
.w1{width:496.000000px;}
.w0{width:595.299988px;}
.x0{left:49.000000px;}
.x3{left:85.050003px;}
.x4{left:112.050003px;}
.x2{left:211.146004px;}
.x1{left:218.317001px;}
.x5{left:375.650009px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._13{width:2.240000pt;}
._0{width:7.488000pt;}
._12{width:13.248000pt;}
._a{width:91.520000pt;}
._1{width:94.400000pt;}
._3{width:198.144000pt;}
._d{width:227.328000pt;}
._c{width:285.568000pt;}
._4{width:297.344000pt;}
._f{width:338.240000pt;}
._b{width:381.824000pt;}
._e{width:387.712000pt;}
._11{width:425.664000pt;}
._7{width:434.368000pt;}
._5{width:457.728000pt;}
._6{width:460.672000pt;}
._2{width:484.032000pt;}
._8{width:492.736000pt;}
._10{width:518.976000pt;}
._9{width:536.512000pt;}
.fs1{font-size:53.333333pt;}
.fs2{font-size:58.666667pt;}
.fs3{font-size:64.000000pt;}
.fs0{font-size:69.333333pt;}
.y20{bottom:64.801345pt;}
.y0{bottom:80.666667pt;}
.y1f{bottom:83.161371pt;}
.y1e{bottom:174.961338pt;}
.y1d{bottom:193.321364pt;}
.y1c{bottom:248.401361pt;}
.y1b{bottom:285.121384pt;}
.y1a{bottom:303.481384pt;}
.y19{bottom:321.841384pt;}
.y18{bottom:358.561354pt;}
.y17{bottom:376.921380pt;}
.y16{bottom:395.281366pt;}
.y15{bottom:432.001377pt;}
.y14{bottom:450.361362pt;}
.y13{bottom:468.721348pt;}
.y12{bottom:505.441359pt;}
.y11{bottom:523.801385pt;}
.y10{bottom:551.341384pt;}
.yf{bottom:569.701369pt;}
.ye{bottom:588.061375pt;}
.yd{bottom:624.781366pt;}
.yc{bottom:643.141371pt;}
.yb{bottom:661.501357pt;}
.ya{bottom:679.861362pt;}
.y9{bottom:716.581374pt;}
.y8{bottom:734.941359pt;}
.y7{bottom:753.301365pt;}
.y6{bottom:771.661371pt;}
.y5{bottom:790.021366pt;}
.y4{bottom:826.741369pt;}
.y3{bottom:845.101368pt;}
.y2{bottom:899.901366pt;}
.y1{bottom:917.292033pt;}
.h3{height:42.739583pt;}
.h5{height:46.593750pt;}
.h4{height:46.625000pt;}
.h2{height:50.476562pt;}
.h1{height:1018.000000pt;}
.h0{height:1122.533366pt;}
.w1{width:661.333333pt;}
.w0{width:793.733317pt;}
.x0{left:65.333333pt;}
.x3{left:113.400004pt;}
.x4{left:149.400004pt;}
.x2{left:281.528005pt;}
.x1{left:291.089335pt;}
.x5{left:500.866679pt;}
}
